# Байт-компилированные/оптимизированные/DLL-файлы
__pycache__ /
* .py [ код ]
* $py.класс

# Расширения C
* .so

# Распространение/упаковка
.Питон
построить /
развивать-яйца /
расстояние /
загрузки /
яйца /
.яйца /
библиотека /
библиотека64 /
части /
срасст /
вар /
колеса /
* .яйцо-информация /
.установлено.cfg
* .яйцо
МАНИФЕСТ

# PyInstaller
#   Обычно эти файлы пишутся скриптом python из шаблона
#   до того, как PyInstaller создаст исполняемый файл, чтобы добавить в него дату/другую информацию.
* .манифест
* .спецификация

# Логи установщика
пип-log.txt
pip-delete-this-directory.txt

# Модульные тесты / отчеты о покрытии
htmlcov /
.токс /
.покрытие
.покрытие. *
.кэш
носовые тесты.xml
покрытие.xml
* .обложка
.гипотеза /
.pytest_cache /

# Переводы
* .мо
* .горшок

# Материал Джанго:
* .лог
local_settings.py
db.sqlite3

# Фляга:
экземпляр /
.webassets-кэш

# Парсер:
.скрейпи

# документация по сфинксу
документы / _сборка /

# Пибилдер
цель /

# Блокнот Юпитер
.ipynb_checkpoints

# пиенв
.python-версия

# файл расписания ударов сельдерея
celerybeat-график

# файлы, проанализированные SageMath
* .sage.py

# Среды
.env
.venv
окр /
Венв /
ENV /
окр.бак /
venv.bak /

# Настройки проекта Spyder
.spyderproject
.spyproject

# Настройки проекта веревки
.ropeproject

# документация mkdocs
/ сайт

# mypy
.mypy_cache /

.DS_Store
